{% extends 'base2.html'%}
<head><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Carter+One" />
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/regform.css' %}">
    {% endblock %}

</head>

{% block body %}
<body>


<div id="id1" class="modaL">

  <form class="modaL-content animate" method="post">
    <div class="btn-group btn-group-justified">
  <a href="#" class="btn Active">Login</a>
  <a href="/account/register" class="btn InActive ">Sign Up</a>
</div>



    <div class="imgcontainer">


      {% load static %}
        <img src="{% static 'accounts/img_avatar2.png' %}" alt="My image" class="avatar" />

    </div>

    <div class="fcontainer">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;"  type="submit">Login</button>

      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="fcontainer" >
      <button type="button" href="#" onclick="document.getElementById('id1').style.display='none'" class="cancelBtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

{% endblock %}
</body>