{% extends 'base.html' %}

{% block body %}










<div class="container">
    {% if personalObj is not defined %}

    <h2>{{ personalObj.name }}</h2><br>
    <h4>Email:{{ email }}</h4>
    <h4>Conatct No:{{ personalObj.contact_no }}</h4>
    <h4>Location:{{ personalObj.location }}</h4>
    {% load static %}
    <a href="/account/personal"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a>
    {% else %}
    <br><a href="/account/personal">Add Personal Details</a>
    {% endif %}
<hr>
<div class="row">
    <div class="row">
    <div class="col-sm-4" ><h3>Education</h3></div>

    <div class="col-sm-8" ><h3>Secondary (X)</h3>


    {% if secondaryObj is not defined %}
    {% for i in secondaryObj  %}
    {{ i.schoolName }}<br>
    {{ i.board }}<br>
    {{ i.cgpa }}<br>
    {{ i.year }}<br>

        {% endfor %}
        {% load static %}
        <br>
        <div class="img_edit">
            <a href="/account/secondary"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;" /></a>
        </div>
        {% else %}
<br><a href="/account/secondary">Add Details</a>
       {% endif %}
<br><h3>Senior Secondary (XII)</h3>
    {% if ssObj is not defined %}
    {% for j in ssObj  %}
    {{j.schoolName}}<br>
    {{j.board}}<br>
    {{j.cgpa}}<br>
    {{j.year}}<br>
    {{j.stream}}<br>
{% endfor %}
        {% load static %}
<a href="/account/senior_secondary"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a>
{% else %}
<br><a href="/account/senior_secondary">Add Details</a>
        {% endif %}
    <h3>Graduation</h3>
         {% if graduationObj is not defined %}
{% for i in graduationObj  %}

    {{ i.schoolName }}<br>
    {{ i.board }}<br>
    {{ i.cgpa }}<br>
    {{ i.year }}<br>
    {{ i.course }}<br>
    {{ i.stream }}<br>

{% endfor %}
        {% load static %}
<br><a href="/account/graduation"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;" /></a>
{% else %}
<br><a href="/account/graduation">Add Details</a>
        {% endif %}
    </div>
  </div>
</div>
<hr>

<div class="row">
    <div class="col-sm-4"><h3>Internships</h3></div>
    {% if internshipObj is not defined %}

    <div class="col-sm-8">
        {% for i in internshipObj %}
        <h3>{{i.profile}}</h3>
        {{i.organisation}}<br>
    {{i.duration}}<br>
    {{i.description}}<br>

    {% endfor %}
        {% load static %}
<a href="/account/edit_internships"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a>
    </div>
    {% else %}
<a href="/account/internships">Add Details</a>

    {% endif %}

</div>
<hr>

<div class="row" >
<div class="col-sm-4"><h3>Skills</h3></div>
{% if skillsObj is not defined %}



<div class="col-sm-8">
    <ul>
                {% for i in skillsObj %}

        <div class="col-sm-6"><li><h4>{{i.skill}}</h4></li></div>
                {% endfor %}
        </ul>
                {% load static %}
<a href="/account/edit_skills"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a><br></a>

</div>
{% else %}
    {% load static %}
<a href="/account/skills">Add Details</a><br>

    {% endif %}

</div>
<hr>



<div class="row" >

<div class="col-sm-4"><h3>Projects</h3></div>
{% if projectObj is not defined %}



<div class="col-sm-8">
                {% for i in projectObj %}

                    <h3>{{i.Name}}</h3>
                    <br>{{i.duration}}<br>
                    <br>{{i.description}}<br>
                <br>{% endfor %}
                <br><a href="/account/edit_projects"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a><br>
            </div>

{% else %}
<br><a href="/account/projects">Add Details</a><br>
{% endif %}

</div>
<hr>



<div class="row">
    <div class="col-sm-4"><h3>Jobs</h3></div>
{% if jobObj is not defined %}



<div class="col-sm-8">
                {% for i in jobObj %}

                    <h3>{{i.profile}}</h3>
                    {{i.organisation}}<br>
                    <br>{{i.duration}}<br>
                    <br>{{i.description}}<br>
                    <br>
                {% endfor %}

    {% load static %}

    <a href="/account/edit_jobs"><img src="{% static 'accounts/edit.png' %}" alt="My image" style="width:20px;"/></a>
{% else %}
<a href="/account/jobs">Add Details</a><br>

    </div>
{% endif %}
</div>

<hr>
<div class="container">

    <a href="/account/generate/">Generate</a><br>
<a href="/account/mail/">Send Mail</a><br>
</div>
</div>
    {% endblock %}
