{% extends 'base2.html'%}
<head>
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/regform.css' %}">
    {% endblock %}

</head>
{% block body %}
<body>

<div id="id01" class="modal">

  <form class="modal-content animate" method="post">
    <div class="btn-group btn-group-justified">
  <a href="/account/login" class="btn inactive">Login</a>
  <a href="#" class="btn active  ">Sign Up</a>
</div>
    <div class="imgcontainer">


      {% load static %}
        <img src="{% static 'accounts/img_avatar2.png' %}" alt="My image" class="avatar" />

    </div>

    <div class="fcontainer">
    {% csrf_token %}
    {{ form.as_p }}
    <button style="background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;" type="submit">Register</button>

      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="fcontainer" style="background-color:#f1f1f1">
      <button type="button" href="#" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
{% endblock %}
</body>

