<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif+Caption" />
<style>
  .errorlist
{
color:#a94442;
background-color:#f2dede;
border-color:#ebccd1

}
  textarea
  { vertical-align: top; }​
</style>


  {% block extra_css %}
  {% endblock %}


    <title>Online CV Builder
  </title>



<body>
<br>

<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Online CV Builder</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/profile">Profile</a></li>
              <li><a href="/account/generate">Download PDF</a></li>
                <li><a href="/account/mail">Email PDF</a></li>
              <li><a href="/account/logout">Log out</a></li>
            </ul>

              {% else %}

              <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/register">Register</a></li>
              <li><a href="/account/login">Login</a></li>
            </ul>
              {% endif %}
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</div>




  {% block body %}
  <h1>Base</h1>


  {% endblock %}

</body>
</html>
