<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif+Caption" />
{% load static %}
  <link rel="icon" href="{% static 'accounts/favicon.ico' %}" type="image/x-icon">
  <style>
  .errorlist
{
color:#a94442;
background-color:#f2dede;
border-color:#ebccd1

}
  textarea
  { vertical-align: top; }


  body {
  {% load static %}
background: url({% static 'accounts/base.png' %}) no-repeat center center fixed;
-webkit-background-size: cover;

-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}​
</style>



  {% block extra_css %}
  {% endblock %}


    <title>Online CV Builder
  </title>


{% load static %}
<body>

{% block navbar %}
<br>



    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Online CV Builder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/account/base/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/account/profile/">Profile</a></li>
            <li><a href="/account/generate/">Download PDF</a></li>
            <li><a href="/account/mail/">Email PDF</a></li>
            <li><a href="/account/logout">Log out</a></li>
          </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/account/register/">Register</a></li>
            <li><a href="/account/login/">Login</a></li>
            </ul>
              {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </nav>



<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock  %}


  {% block body %}
  <h1>Base</h1>


  {% endblock %}

</body>
</html>
